@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin absoluteCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

main {
  display: flex;
  height: calc(100vh - 80px);
  .historyShadow {
    display: none;
    @include absoluteCenter;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    &.active {
      display: block;
    }
    .historyWrapper {
      @include absoluteCenter;
      width: 80%;
      height: 500px;
      background-color: white;
      border-radius: 6px;
      overflow: scroll;
      .closeHistory {
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 0 20px 0 20px;
        border: 2px solid rgb(180, 0, 0);
        color: rgb(180, 0, 0);
        &:hover {
          cursor: pointer;
        }
      }
      .singleOperation {
        display: flex;
        width: 100%;
        height: 50px;
        box-sizing: border-box;
        border-bottom: 1px solid black;
        background-color: rgba(255, 0, 0, 0.1);
        .logo {
          @include flexCenter;
          width: 5%;
          height: 100%;
          .fa-credit-card {
            color: black;
          }
        }
        .personAndTitle {
          display: flex;
          flex-direction: column;
          font-size: 14px;
          width: 60%;
          height: 100%;
        }
        .amount {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          width: 30%;
          margin-right: 5%;
          height: 100%;
        }
      }
    }
  }
  aside {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 30%;
    height: 100%;
    .btns {
      width: 90%;
      height: 100px;
      background-color: rgb(238, 236, 236);
      overflow: hidden;
      border-radius: 10px;
      box-shadow: 1px 1px 6px black;
      .exchangerContainer,
      .transferContainer {
        @include flexCenter;
        justify-content: space-between;
        width: 100%;
        height: 50%;
        button {
          border: none;
          margin-right: 80px;
          font-size: 22px;
          background-color: transparent;
          font-family: "Padauk", sans-serif;
          color: rgb(180, 0, 0);
          &:hover {
            cursor: pointer;
            color: rgb(240, 0, 0);
          }
        }
        i {
          margin-left: 80px;
          font-size: 30px;
        }
      }
    }
    .myCard {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 90%;
      height: 200px;
      background-color: rgb(238, 236, 236);
      border-radius: 10px;
      box-shadow: 1px 1px 6px black;
      .cardImg {
        height: 180px;
        background-size: 50%;
        background-repeat: no-repeat;
        background-image: url("../cardImg.png");
      }
      .cardNumber {
        width: 100%;
        h3 {
          padding-left: 20px;
        }
        p {
          padding-left: 30px;
        }
      }
    }
    .contactInfo {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 90%;
      height: 240px;
      background-color: rgb(238, 236, 236);
      border-radius: 10px;
      box-shadow: 1px 1px 6px black;
      p {
        padding-left: 20px;
      }
    }
  }
  section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    height: 100%;
    div.mainInfo {
      width: 90%;
      height: 300px;
      background-color: rgb(238, 236, 236);
      margin-top: 20px;
      border-radius: 10px;
      box-shadow: 1px 1px 6px black;
      div.firstInfo {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        height: 100px;
        p {
          padding-left: 20px;
        }
        p:nth-child(1) {
          background-color: rgb(180, 180, 180);
          width: 100px;
          padding: 3px 0 3px 20px;
        }
        p:nth-child(2),
        p:nth-child(3) {
          font-size: 20px;
        }
      }
      .accountBalance {
        display: flex;
        width: 100%;
        height: 200px;
        .balance {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          width: 25%;
          height: 100%;
          p {
            padding-left: 10px;
            font-size: 18px;
          }
          p:nth-child(2) {
            span {
              color: red;
            }
          }
        }
        .currentBalance {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 45%;
          height: 100%;
          h2 {
            padding-left: 40px;
            padding-bottom: 20px;
            color: rgba(0, 0, 0, 0.6);
          }
          p {
            font-size: 36px;
            font-weight: bold;
            padding-left: 60px;
          }
        }
        .transferAndHistoryButtons {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          width: 30%;
          flex-direction: column;
          .shadow {
            display: none;
            @include absoluteCenter;
            width: 100%;
            height: 100%;
            z-index: 1;
            background-color: rgba(0, 0, 0, 0.8);
            &.active {
              display: block;
            }
            .transferPanel {
              @include absoluteCenter;
              width: 50%;
              height: 50%;
              background-color: white;
              border-radius: 6px;
              .cancelTransfer {
                position: absolute;
                right: 0;
                font-size: 18px;
                padding: 3px 8px;
                color: rgb(180, 0, 0);
                background-color: white;
                border: none;
                border-bottom: 1px solid rgb(180, 0, 0);
                border-left: 1px solid rgb(180, 0, 0);
                &:hover {
                  cursor: pointer;
                }
              }
              .buttonSection {
                @include flexCenter;
                flex-grow: 1;
                width: 100%;
                button {
                  font-size: 20px;
                  padding: 6px 40px 6px 40px;
                  border-radius: 6px;
                  outline: none;
                  border: 1px solid rgb(180, 0, 0);
                  color: rgb(180, 0, 0);
                  background-color: white;
                  &:hover {
                    cursor: pointer;
                    color: white;
                    background-color: rgb(180, 0, 0);
                  }
                }
              }
              .recipient,
              .accountNumber,
              .transferTitle,
              .transferAmount,
              .transferData {
                font-size: 18px;
                display: flex;
                width: 100%;
                padding: 20px 0 20px 0;
                p {
                  padding-left: 10px;
                }
                input {
                  position: absolute;
                  left: 25%;
                  padding: 3px 6px 3px 6px;
                  width: 50%;
                  border-radius: 6px;
                  outline: none;
                  border: 1px solid rgb(180, 0, 0);
                  &.er {
                    background-color: rgba(255, 0, 0, 0.5);
                  }
                }
                input[type="number"]::-webkit-inner-spin-button,
                input[type="number"]::-webkit-outer-spin-button {
                  -webkit-appearance: none;
                  margin: 0;
                }
              }
            }
          }
          .transferBtn,
          .historyBtn {
            border-radius: 6px;
            font-size: 22px;
            width: 80%;
            height: 40%;
            border: 2px solid rgb(180, 0, 0);
            color: rgb(180, 0, 0);
            background-color: white;
            &:hover {
              background-color: rgb(180, 0, 0);
              color: white;
            }
          }
        }
      }
    }
    .operations {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90%;
      height: 260px;
      background-color: yellow;
      border-radius: 10px;
      background-color: rgb(238, 236, 236);
      box-shadow: 1px 1px 6px black;
      .operationInfo {
        width: 100%;
        h1 {
          margin-left: 20px;
        }
        p {
          margin-left: 30px;
        }
      }
      .operationButtons {
        box-sizing: border-box;
        @include flexCenter;
        width: 90%;
        height: 60px;
        overflow: hidden;
        button {
          width: 33.33%;
          height: 70%;
          border: 0;
          border-left: 2px solid white;
          background-color: rgb(180, 0, 0);
          color: white;
          font-size: 18px;
          &:hover {
            cursor: pointer;
          }
        }
      }
      .operationStatus {
        overflow: scroll;
        width: 90%;
        height: 140px;
        background-color: white;
        .singleOperation {
          display: flex;
          width: 100%;
          height: 50px;
          box-sizing: border-box;
          border-bottom: 1px solid black;
          .logo {
            @include flexCenter;
            width: 5%;
            height: 100%;
            .fa-credit-card {
              color: black;
            }
          }
          .personAndTitle {
            display: flex;
            flex-direction: column;
            font-size: 14px;
            width: 40%;
            height: 100%;
          }
          .amount {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 55%;
            height: 100%;
          }
        }
      }
    }
  }
}
