header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 80px;
  background-color: #b40000;
}

header div.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  height: 100%;
}

header div.logo h2 {
  font-size: 36px;
  color: white;
  font-family: "KoHo", sans-serif;
}

header ul.buttons {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

header ul.buttons .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
  height: 100%;
  font-size: 22px;
  outline: none;
  text-transform: none;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

header ul.buttons .btn.active {
  color: #b40000;
  background-color: white;
}

header div.accountPanel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
}

header div.accountPanel button.message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-left: 2px solid whitesmoke;
  border-right: 2px solid whitesmoke;
  padding: 0;
  background-color: transparent;
  color: white;
  font-size: 22px;
  width: 14%;
  height: 100%;
}

header div.accountPanel button.message:hover {
  cursor: pointer;
  background-color: #c80000;
}

header div.accountPanel div.account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 86%;
  height: 100%;
}

header div.accountPanel div.account .accountShort {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
}

header div.accountPanel div.account .accountShort p {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
}

header div.accountPanel div.account div.name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  height: 100%;
}
/*# sourceMappingURL=Header.css.map */